[Unit]
Description=Cassandra Seed
After=etcd.service
After=docker.service


[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStart= /usr/bin/docker run -d --name seed cassimg bash /usr/sbin/start-seed.sh
ExecStartPost= /bin/sleep 5 ;\
               /bin/etcdctl set /seed '$(/usr/bin/docker inspect --format '{{ .NetworkSettings.IPAddress }}' seed)'


