[Unit]
Description=Cassandra Seed
After=etcd.service
Requires=docker.service
After=docker.service


[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
RemainAfterExit=yes
ExecStartPre= /usr/bin/etcdctl set /cassandraSeed/node1 "$COREOS_PUBLIC_IPV4"
ExecStartPre= /usr/bin/docker pull 160.91.76.121:5000/cassandra
ExecStart= /bin/bash -c '/usr/bin/docker start %p || \
           /usr/bin/docker run -d --net=host --name %p -v /mountedvol:/mountedvol  160.91.76.121:5000/cassandra bash /usr/sbin/start-seed.sh'
ExecStop= /usr/bin/docker stop -t 3 %p

[X-Fleet]
X-Conflicts=rexster.service
X-Conflicts=titan.service
X-Conflicts=cassnode@*.service
X-Conflicts=elasticsearch.service
